/* .gGTSDy {
    display: flex;
    flex-direction: column;
  
}



.hzeyLF {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}


.ilkgnf {
    font-size: clamp(1.8rem, 1.25366rem + 3.12195vw, 5rem);
    font-weight: 700;
    letter-spacing: 0px;
    padding-top: 30px;
    text-align: center;
}

.hzeyLF p {
    width: 100%;
    padding-bottom: 20px;
    line-height: 25px;
}



.dROOdw {
    cursor: pointer;
    background-color: transparent;
    padding: 3px 7px;
    color: var(--color-primary);
    border-radius: 25px;
    border: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    box-shadow: none;
    transition: all 0.3s ease-in-out 0s;
}

.dFgvOd {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 25px;
}


.jcyUcB h1 {
    font-size: clamp(1rem, 0.829268rem + 0.97561vw, 2rem);
}


.jcyUcB ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    font-size: clamp(0.75rem, 0.673171rem + 0.439024vw, 1.2rem);
    font-weight: 400;
}

.iKDfcs {
    list-style: none;
    padding: 40px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.jcyUcB ul li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hTaGYD {
    display: flex;
    align-items: baseline;
    font-weight: 400;
}

.hTaGYD span {
    font-weight: bold;
    margin-right: 10px;
}


.cKTdPD {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 20px 0px;
    width: 100%;
}


.cKTdPD li {
    border: none;
    background-color: rgb(245, 246, 247);
    width: 100%;
    padding: 32px;
    border-radius: 25px;
}

.jcyUcB h1 {
    font-size: clamp(1rem, 0.829268rem + 0.97561vw, 2rem);
}



.jcyUcB p {
    font-weight: 400;
    padding-top: 30px;
}

.iKDfcs {
    list-style: none;
    padding: 40px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hTaGYD {
    display: flex;
    align-items: baseline;
    font-weight: 400;
}


@media (min-width: 1024px) {

    .ilkgnf {
        letter-spacing: 0px;
    }
    .dROOdw {
        padding: 10px 16px;
  
    }

    .cKTdPD li {
        width: 50%;
    }
    .cKTdPD {
        flex-direction: row;
    }
}





@media (max-width: 425px) {
  
    .cKTdPD {
        display: flex;
        flex-direction: column;

    }
    
}







 */
